/*
 * Title:   Intro Style File
 * Author:  http://themeforest.net/user/Kite-Themes
 */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
/* -------------------------------------------------------------
 * Title:   SCSS VARIABLES
 * Author:  http://themeforest.net/user/Kite-Themes
------------------------------------------------------------- */
.demo-item {
  margin-bottom: 80px;
  text-align: center;
}

.demo-item.demo-item-right {
  float: left;
  margin-left: 30px;
  margin-right: 0;
}

.demo-item > a {
  background: url("../images/browser.png");
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  padding-top: 25px;
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -khtml-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.demo-item > a span {
  background-position: center 0;
  -webkit-background-size: 100% auto;
  -khtml-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  display: inline-block;
  height: 575px;
  width: 100%;
}

.demo-item > a .commingsoon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  font-size: 60px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Slab", serif;
  padding-top: 300px;
}

.demo-item > a:hover span {
  background-position: center 100%;
}

.demo-item h2 {
  line-height: 18px;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0.2em;
  margin-top: 60px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.demo-item h2 a:before {
  content: '';
  width: 0;
  height: 2px;
  bottom: -5px;
  background: #000000;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -khtml-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.demo-item h2 a:hover:before {
  width: 50%;
}

.move-long {
  -webkit-transition: all 9s ease-out;
  -khtml-transition: all 9s ease-out;
  -moz-transition: all 9s ease-out;
  -ms-transition: all 9s ease-out;
  -o-transition: all 9s ease-out;
  transition: all 9s ease-out;
  -webkit-backface-visibility: hidden;
  -khtml-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-intro {
  position: relative;
  height: 100vh;
  width: 100%;
  display: table;
  background: url(../images/intro-bg.jpg) no-repeat center center fixed;
  overflow: hidden;
}

.cd-intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  color: #fff;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.no-cssanimations .cd-intro-content h1,
.no-cssanimations .cd-intro-content h1 span,
.no-cssanimations .cd-intro-content p {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

.cd-intro-content h1 {
  font-size: 36px;
  letter-spacing: 0.3em;
  position: relative;
  opacity: 1;
  color: transparent;
  overflow: hidden;
  padding-bottom: 20px;
}

.cd-intro-content h1::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-animation-name: cd-reveal-up;
  -khtml-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  -ms-animation-name: cd-reveal-up;
  -o-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: backwards;
  -khtml-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.cd-intro-content h1 span {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.cd-intro-content h1 span::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: calc(100% + 18px);
  left: -1em;
  height: 2px;
  width: calc(100% + 2em);
  background-color: #000000;
  -webkit-animation: cd-loading-mask 1s 0.3s both;
  -khtml-animation: cd-loading-mask 1s 0.3s both;
  -moz-animation: cd-loading-mask 1s 0.3s both;
  -ms-animation: cd-loading-mask 1s 0.3s both;
  -o-animation: cd-loading-mask 1s 0.3s both;
  animation: cd-loading-mask 1s 0.3s both;
}

.cd-intro-content p {
  position: relative;
  margin: 0;
  -webkit-animation-name: cd-reveal-down;
  -khtml-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  -ms-animation-name: cd-reveal-down;
  -o-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
  font-style: italic;
  letter-spacing: 1px;
}

.cd-intro-content h1::after,
.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
  }
}

@-moz-keyframes cd-loading-mask {
  0%, 100% {
    -moz-transform: scaleX(0);
  }
  40%, 60% {
    -moz-transform: scaleX(1);
  }
}

@keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -moz-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@-moz-keyframes cd-loading {
  0% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}

@keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* 1. Styles for devices(<=1650px) */
/* 2. Styles for devices(<=1200px) */
@media (max-width: 1200px) {
  .cd-intro {
    background-attachment: scroll;
  }
  .branding img {
    height: 40px;
  }
}

/* 3. Styles for devices(<=991px) */
/* 4. Styles for devices(<=767px) */
/* 4. Styles for devices(<=480px) */
@media (max-width: 480px) {
  .cd-intro-content h1 {
    font-size: 18px;
  }
  .cd-intro-content p {
    font-size: 13px;
  }
}
