/*
 * Title:   Delphinus - Creative Multi-Purpose eCommerce HTML5
 * Author:  http://themeforest.net/user/Kite-Themes
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Base Styles
  1.1. Common styles
  1.2. Helper CSS
2. Page loader
3. Typography
 3.1 Typography common styles
 3.2 Blockquote
4. Forms fields
5. Buttons
6. Sections styles
7. Search
8. Header
9. Footer
10. Shortcodes
  10.1 Heading Section
  10.2 Hightlight
  10.3 Dropcap
  10.4 Lists
  10.5 Alert
  10.6 Tabs
  10.7 Accordion
  10.8 Tooltip
  10.9 Socials
  10.10 Newsletter
  10.11 banner
  10.12 Category banner
  10.13 Flip box
  10.14 Feature icon
  10.15 Single Image
  10.16 Client
  10.17 About
  10.18 collection
  10.19 Box colored
  10.20 Testimonials
  10.21 Product countdown
  10.22 Callout
11. Widgets
12. Blog posts
13. Single Post
  13.1 Single Post Common styles
  13.2 Author Info
  13.3 Comments Area
  13.4 Comment Form
14. Pagination
15. Shop
  15.1 Shop Common styles
  15.2 Products category
  15.3 Product Detail
  15.4 Checkout page
  15.5 My Cart page
  15.6 Compare page
  15.6 Compare page
  15.7 My Account page
  15.8 QuickView
16. Slideshow and owl carousel
  16.1 Rev slider
  16.2 Owl Carousel
17. Popup Newletter
18. Back to Top
19. Main content
  19.1 About page
  19.2 Contact page
  19.3 404 page
20. Intro



~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import 'mixin';
@import 'variables';


/* ==============================
   1. Common styles
   ============================== */
/*
 * 1.1 Common styles
 */
::-moz-selection {
  color: #fff;
  background: $primary-color;
}

::selection {
  color: #fff;
  background: $primary-color;
}

html, body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

iframe {
  border: none;
}

a{
  &:hover{
    @include transition(all 0.3s ease 0s);
  }
  &:focus,
  &:active{
    @include css3-prefix('outline', 'none');
  }
}

img:not([draggable]), embed, object, video {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 30px;
}

.appear-animate .wow {
  visibility: hidden;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.breadcrumb{
  margin: 0 0 35px;
  padding: 0;
  background: none;
  @include border-radius(0);
  a{
    color: $gray-text;
  }
}

.page-header{
  border: none;
  margin: 0;
  padding: 0;
  h1{
    margin: 0;
    font-size: 18px;
  }
  .breadcrumb{
    margin: 0;
  }
}

/*
 * 1.2. Helper CSS
 */
.kt-table {
  display: table;
  width: 100%;
  height: 100%;
  .kt-col {
    display: table-cell;
    vertical-align: middle;
  }
}

.round {  @include border-radius(2px);  }
.circle {  @include border-radius(100%);  }
.square {  @include border-radius(0);  }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.kt-column-bg{
  @include css3-prefix('background-size', 'cover');
  background-position: center center;
  background-repeat: no-repeat;
}

.letter-spacing{  letter-spacing: 0.2em; }
.text-nomal{ text-transform: none; }

.white{ color: #fff !important; }
.black{ color: #111 !important; }
.gray{ color: $gray-text!important; }

.bg-gray{  background: $gray-bg; }
.bg-lightgreen{  background: #c7db9c; }
.bg-wheat{  background: #f4dc86; }
.bg-sky{  background: #a7c8eb; }
.bg-coral{  background: #ed8b5c; }
.bg-aquamarine{  background: #bce5d3; }
.bg-purple{background: #d1aece;}

.bg-gradient-gray{
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    background: $gray-bg;
    top: 0;
    left: 0;
  }
}

/* ==============================
   2. Page loader
   ============================== */
.pace {
  background: #FFFFFF;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: visible;
  width: 100%;
  z-index: 999999;
  text-align: center;
  @include opacity(1);
  @include css3-prefix('pointer-events', 'none');
  @include css3-prefix(user-select, 'none');
  @include css3-prefix(background-clip, 'padding-box');
  @include transition();
  &.pace-inactive {
    visibility: hidden;
    @include opacity(0);
  }
}

.pace-activity {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .page-loading-wrapper{
    display: inline-block;
  }
}

.page-loading-wrapper {
  display: none;
  vertical-align: middle;
  padding: 0 15px;
  width: 99%;
  .progress-bar-loading {
    width: 110px;
    margin: 0 auto;
    height: 105px;
    float: none;
    @include border-radius-separate(13px, 13px, 13px, 13px);
    background: #fff;
    max-width: 100%;
    position: relative;
    .progress-bar-inner{
      position: absolute;
      left: 0;
      top: 0;
      width: 110px;
      overflow: hidden;
      &.back-loading{
        path{
          fill: #eeeeee;
        }
      }
      &.front-loading{
        width: 1%;
        @include transition();
        path{
          fill: #000000;
        }
      }
    }
    .progress-bar-number{
      font-family: $heading-font;
      color: #000000;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.075em;
      line-height: 1;
      padding-left: 30px;
      text-align: center;
    }
    svg{
      width: 110px;
      path{
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }
  }
}

/* ==============================
   3. Typography
   ============================== */
/*
 * 3.1 Typography common styles
 */

body {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 30px;
  color: $gray-darker;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0 0 20px;
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

h1, h2, h3{
  letter-spacing: 0.2em;
}

a {
  color: $primary-color;
  &:hover,
  &:focus{
    color: $primary-light-color;
    text-decoration: none;
  }
}

.font-light {
  font-weight: 300;
}

.font-black {
  font-weight: 900;
}

/*
 * 3.2 Blockquote
 */
blockquote {
  background: $gray-bg;
  padding: 90px 45px 35px;
  margin-bottom: 30px;
  border: none;
  position: relative;
  font-size: 14px;
  color: $gray-text;

  &:before{
    background: $primary-color;
    color: #ffffff;
    content: "“";
    font-size: 36px;
    height: 32px;
    left: 45px;
    line-height: 55px;
    padding-left: 2px;
    position: absolute;
    top: 35px;
    width: 28px;
    text-align: left;
  }

  .blockquote-reverse {
    padding: 90px 45px 35px;
    &:before {
      left: auto;
      right: 45px;
      content: "”";
    }
  }

  p {
    margin-bottom: 15px;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

/* ==============================
   4. Forms fields
   ============================== */
input[type=email],
input[type=password],
input[type=phone],
input[type=tel],
input[type=text],
textarea {
  border: 2px solid $border-color;
  color: $gray-text;
  padding: 6px 12px;
  height: 40px;
  background: none;
  @include border-radius(0);
  @include css3-prefix('box-shadow', 'none');
  @include css3-prefix('appearance', 'none');
  @include css3-prefix('transition', 'none');
  width: 100%;
  &:focus {
    @include css3-prefix('box-shadow', 'none');
    border-color: $gray-text;
    outline: 0;
    color: $gray-text;
  }
}

textarea {
  height: auto;
}

input[type=email].input-bg,
input[type=password].input-bg,
input[type=phone].input-bg,
input[type=tel].input-bg,
input[type=text].input-bg,
textarea.input-bg{
  background: #f6f6f6;
  border: 1px solid #f0f0f0;
  font-size: 12px;
  letter-spacing: 0.075em;
}

select {
  @include border-radius(0);
  width: 100%;
  height: 40px;
  line-height: 1.42857;
  padding: 6px 12px;
  border: 1px solid #f0f0f0;
  background: $gray-bg;
  cursor: pointer;
  color: $gray-text;
  &:focus {
    outline: 0;
  }
}

select:not([multiple]) {
  @include css3-prefix('box-shadow', 'none');
  @include css3-prefix('appearance', 'none');
  background:$gray-bg url(../images/selectbox-arrow.png) no-repeat right center;
}

.form-control {
  @include border-radius(0);
  @include css3-prefix('box-shadow', 'none');
  :focus {
    @include css3-prefix('box-shadow', 'none');
  }
}

.select-icon{
  display: inline-block;
  position: relative;
  &:after{
    content: "";
    display: block;
    pointer-events: none;
    right: 5px;
    z-index: 1;
    @include FontAwesome('\f107');
    @include translate(y);
    font-size: 12px;

  }
  select{
    border: none;
    font-size: 14px;
    background: none;
    padding: 0 25px 0 0;
    height: auto;
  }
}

/* ==============================
   5. Buttons
   ============================== */

.btn {
  @include border-radius(0);
  border: 2px solid transparent;
  display: inline-block;
  line-height: 1.42857;
  padding: 8px 26px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: $button-text;
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: none;
  }
  &.active,
  &:active {
    @include css3-prefix('box-shadow', 'none');
  }

  /* Button size */
  &.btn-xs {
    padding: 6px 10px;
    font-size: 8px;
  }
  &.btn-sm {
    padding: 8px 20px;
    font-size: 10px;
  }
  &.btn-lg {
    padding: 10px 60px;
    font-size: 18px;
  }
  &.btn-xlg {
    padding: 12px 65px;
    font-size: 20px;
  }

  /* Button shapes */
  &.btn-round {
    border-radius: 3px;
  }
  &.btn-circle {
    border-radius: 30px;
  }

  /* Button icon */
  &.button-icon-left {
    margin-right: 5px;
  }
  &.button-icon-right {
    margin-left: 5px;
  }

  /* Button style */
  &.btn-default {
    background: #000000;
    color: #FFFFFF;
    border-color: #000000;
  }
  &.btn-animation{
    span{
      @include transform(translateX(0));
      @include transition("all .3s ease-in-out 0s");
      display: block;
      position: relative;
      i{
        @include opacity(0);
        @include transition("all .3s ease-in-out 0s");
        @include transform(translate(30px, -50%));
        position: absolute;
        right: 0;
        top:50%;
      }
    }    
    &:hover{
      span{
        @include transform(translateX(-10px));
        i{
          @include opacity(1);
        }
      }
    }
  }
  &.btn-gray {
    background: $gray-bg;
    color: $gray-darker;
    border-color:$gray-bg;
    &:hover{
      background: #000000;
      color: #FFFFFF;
      border-color: #000000;
    }
  }
  &.btn-light{
    border-color: #FFFFFF;
    background: #FFFFFF;
    color: #000000;
    &:hover{
      background: #000000;
      color: #FFFFFF;
      border-color: #000000;
    }
  }

  &.btn-dark-b {
    background: none;
    color: #000000;
    border-color: #000000;
  }
  &.btn-light-b{
    border: 2px solid #FFFFFF;
    background: none;
    font-family: $font-stack;
    font-weight: normal;
    color: #FFFFFF;
    &:hover{
      background: #FFFFFF;
      color: #000000;
    }
  }

  &.btn-medium{
    background: $gray-bg;
    border: 1px solid #f0f0f0;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.2em;
    &:hover{
      background: #000000;
      border-color: #000000;
      color: #fff;
    }
  }

  &.btn-addtocart{
    background: #ffffff;
    color: #000000;
    width: 100%;
    height: 48px;
    font-size: 14px;
    border-color: #ffffff;
    padding: 0 45px;
    line-height: 44px;
    &:hover{
      background: #000000;
      color: #FFFFFF;
      border-color: #000000;
    }
  }
  &.btn-addtocart-b{
    background: none;
    color: #000000;
    height: 48px;
    font-size: 14px;
    border-color: #000000;
    padding: 0 45px;
    line-height: 44px;
    &:hover{
      background: #000000;
      color: #FFFFFF;
      border-color: #000000;
    }
  }

  &.btn-default,
  &.btn-dark-b{
    &:hover{
      background: $primary-color;
      color: #FFFFFF;
      border-color: $primary-color;
    }
  }  
}

.rev-btn{
  padding: 15px 46px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  background: none;    
  font-size: 14px;
  line-height: 14px;
  font-family: $font-stack;
  font-weight: 400;
  letter-spacing: 0.18em;
}


/* ==============================
   6. Sections styles
   ============================== */
.page-section{
  display: block;
  position: relative;
  padding: 90px 0;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  @include css3-prefix(background-size,cover);

  .page-section-inner{
    position: relative;
    z-index: 1;
  }

  &.small-section{
    padding: 85px 0;
  }

  &.bg-scroll{
    background-attachment: scroll !important;
  }

  &.bg-dark-alfa-40{
    &:before{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(#000000, .4);
    }
  }
}


.page-small-width{
  margin: 0 auto;
  max-width: 900px;
  padding: 0 15px;
}

/* ==============================
   7. Search
   ============================== */
.searchform {
  margin: 0 auto;
  position: relative;
  input[type=text] {
    background: transparent;
    width: 100%;
    padding: 5px 40px 5px 10px;
  }
  button {
    background: none;
    border: none;
    height: 26px;
    padding: 0;
    right: 5px;
    width: 26px;
    line-height: 26px;
    @include translate('y');
    i{
      line-height: 26px;
    }
  }
}

#search-fullwidth {
  background: #ffffff;
  margin: 0 auto;
  max-width: 1170px;
  padding: 70px 200px;
  position: relative;

  button.mfp-close{
    color: #000000;
    font-size: 0;
    right: 15px;
    top: 15px;
    &:before{
      font-size: 18px;
      @include FontAwesome('\f00d');
      @include translate(c);
    }
  }
  .searchform{
    input[type=text] {
      border: none;
      border-bottom: 2px solid $border-color;
      padding: 10px 0;
      height: auto;
      font-size: 14px;
      letter-spacing: 0.075em;
    }
    button{
      font-size: 14px;
    }
  }
}

/* ==============================
   8. Header
   ============================== */

.branding{
  h1{
    margin: 0;
    font-size: 24px;
  }
  img{
    height: 75px;

  }
  .topbar &{
    @include translate(v);
    z-index: 1;
    h1{
      line-height: $topbar-height;
    }
  }
}


.topbar{
  height: $topbar-height;
  border-bottom: 1px solid #f6f6f6;
  text-align: center;
  position: relative;
  z-index: 30;
  .topbar-left{
    text-align: left;
    li:first-child{
      .top-navigation-submenu{
        left: 9px;
      }
    }
  }
  .topbar-right{
    text-align: right;
    .top-navigation{
      float: right;
      .top-navigation-submenu{
        left: auto;
        right: 0;
      }
      li:last-child{
        .top-navigation-submenu{
          right: 9px;
        }
      }
    }
  }
}


.top-navigation{
  margin: 0;
  padding: 0;
  list-style: none;
  > li{
    display: inline-block;
    border-left: 1px solid #f6f6f6;
    position: relative;
    float: left;
    &:last-child{
      border-right: 1px solid #f6f6f6;
    }
    &.wishlist-item{
      > a {
        > span{
          background: $gray-bg;
          color: #000000;
          font-size: 14px;
          margin-left: 13px;
          padding: 3px 12px;
        }
      }
    }
    &.shopping-bag-item{
      a{
        > span{
          padding: 2px 9px;
          border: 2px solid #000000;
          color: #000000;
          font-size: 14px;
          margin-left: 15px;
        }
      }
    }
    &.language-switcher,
    &.currency-switcher{
      li{
        border-bottom: 1px solid #f6f6f6;
        &:last-child{
          border: none;
        }
        a{
          display: block;
          padding: 5px 35px 5px 20px;
          color: $gray-text;
          &:hover{
            color: #000000;
          }
        }
      }
      .top-navigation-submenu{
        width: 200px;
      }
    }
    &.myaccount-item{
      .top-navigation-submenu{
        width: 508px;
        .myaccount-form,
        .myaccount-create{
          padding: 30px 27px;
        }
        .myaccount-form{
          border-bottom: 1px solid #f6f6f6;
          p{
            margin-bottom: 20px;
            :last-child{
              margin: 0;
            }
          }
          label{
            color: $gray-text;
            font-size: 14px;
            font-weight: normal;
            &.inline{
              margin-left: 34px;
              color: $gray-darker;
              input{
                margin-right: 13px;
              }
            }
          }
          a.forget-password{
            float: right;
            color: $gray-text;
            margin-top: 4px;
            &:hover{
              color: #000000;
            }
          }
        }
        .myaccount-create{
          line-height: 36px;
        }
      }
    }
    > a{
      text-transform: uppercase;
      color: $gray-text;
      letter-spacing: 0.12em;
      font-weight: bold;
      font-size: 14px;
      line-height: $topbar-height;
      padding: 0 35px;
      display: inline-block;
      &:hover{
        color: #000000;
      }
    }
    .top-navigation-submenu{
      background: #FFFFFF;
      position: absolute;
      left: 0;
      top: 57px;
      width: 340px;
      text-align: left;
      @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.12));
      border-top: 1px solid #f6f6f6;
      margin: 0;
      padding: 0;
      list-style: none;

      @include opacity(0);
      @include transform(translate(0, 40px));
      @include transition('opacity 0.5s ease-in-out, transform 0.5s ease-in-out');
      visibility: hidden;



      h3.submenu-heading{
        text-align: center;
        font-size: 14px;
        color: #000000;
        line-height: 53px;
        border-bottom: 1px solid #f6f6f6;
        margin: 0;
        letter-spacing: 0.02em;
      }
    }

    &:hover{
      .top-navigation-submenu{
        @include opacity(1);
        @include transform(translate(0, 0));
        visibility: visible;
      }
    }
  }
}




.shopping-bag{
  .cart_block_no_products{
    margin: 0;
    padding: 18px;
    text-align: center;
  }
  .bag-products{
    .bag-product{
      padding: 18px;
      border-bottom: 1px solid #F6f6f6;
      position: relative;
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
      figure {
        float: left;
        position: relative;
        z-index: 1;
        img {
          height: auto;
          max-width: 90px;
        }
      }
      .bag-product-details{
        padding-left: 105px;
        position: relative;
        .bag-product-title{
          font-size: 14px;
          text-transform: none;
          margin: 0 0 10px;
          padding-right: 10px;
          &:hover{
            text-decoration: underline;
          }
        }
        > div{
          color: $gray-text;
          line-height: 25px;
          font-size: 13px;
        }
      }
      .remove{
        color: #000000;
        font-size: 12px;
        line-height: 1;
        position: absolute;
        right: 12px;
        top: 18px;
        &:before{
          @include FontAwesome('\f00d');
        }
        &:hover{
          color: red;
        }
      }
    }
  }
  .bag-buttons{
    padding: 30px 65px;
    a{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.mobile-tool{
  position:absolute;
  @include translate(y);
  right: 0;
  display: none;
  a{
    display: block;
    float: right;
    line-height: 1;
    margin-left: 15px;
    &:last-child{
      margin: 0;
    }
    &.mobile-tool-cart{
      font-size: 26px;
      position: relative;
      margin-top: 2px;
      span{
        font-size: 12px;
        position: absolute;
        right: 0;
        top: -6px;
      }
    }
  }
}

#hamburger-icon {
  padding: 10px;
  .hamburger-icon-inner{
    width:$hamburger-widthline;
    height:$hamburger-heighticon;
    position: relative;
    display: block;
  }
  .line {
    display:block;
    background: $primary-color;
    width:$hamburger-widthline;
    height:$hamburger-heightline;
    position:absolute;
    left:0;
    @include border-radius($hamburger-heightline / 2);
    @include transition(all $hamburger-transition-time);

    &.line-1 {  top:0;  }
    &.line-2 {  top:50%; }
    &.line-3 {  top:100%; }
  }
  &.active {
    .line-1 {
      @include transform(translateY($hamburger-translateY) translateX($hamburger-translateX) rotate($hamburger-rotation));
    }
    .line-2 {
      top: 100%;
      @include transform(translateY($hamburger-translateY));
    }
    .line-3 {
      @include transform(translateY($hamburger-translateY * -1) translateX($hamburger-translateX) rotate($hamburger-rotation * -1));
    }
  }
}




.navbar-container{
  position: relative;
  width: 100%;
  background: #FFFFFF;

  &.is-sticky{
    position: fixed;
    top: 0;
    left: 0;

    .navbar-container-inner{
      height: $navbar-height-sticky;
      line-height: $navbar-height-sticky;
      @include transition("all .5s ease-in-out 0s");
    }

    .branding h1{
      line-height: $navbar-height-sticky;
      @include transition("all .5s ease-in-out 0s");
    }

  }

  .navbar-container-inner{
    position: relative;
    height: $navbar-height;
    line-height: $navbar-height;

  }
  .branding{
    float: left;
    h1{
      line-height: $navbar-height;
    }
  }
  #nav{
    float: right;
    > ul{
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
      &#main-nav-tool{
        margin-left: 66px;
        li{
          display: inline-block;
          margin-left: 30px;
          &:first-child{
            margin-left: 0;
          }
        }
      }
    }

    #main-navigation{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        &.active{
          > a{
            color: #000;
          }
        }
      }
      > li{
        display: inline-block;
        position: relative;
        margin-left: 20px;
        &.kt-megamenu-item{
          position: static;
        }
        &:first-child{
          margin-left: 0;
          > a{
            padding-left: 0;
          }
        }

        &:last-child{
          > a{
            padding-right: 0;
          }
        }

        > a{
          text-transform: uppercase;
          padding: 0 22px;
          color: $gray-text;
          letter-spacing: 0.04em;
          font-weight: bold;
          &:hover{
            color: #000000;
          }
        }
        &.active{
          > a{
            color: #000000;
          }
        }
        ul.sub-menu-dropdown,
        .kt-megamenu-wrapper{
          border-top: 1px solid #f6f6f6;
          background: #FFFFFF;
          position: absolute;
          top: 100%;
          left: 0;
          visibility: hidden;
          line-height: normal;
          width: 308px;
          @include opacity(0);
          @include transform(translate(0, 40px));
          @include transition('opacity 0.5s ease-in-out, transform 0.5s ease-in-out');
          @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.12));
          text-align: left;
        }

        ul.sub-menu-dropdown{
          list-style: none;
          padding: 0;
          margin: 0;
          li{
            border-bottom: 1px solid #f6f6f6;
            a{
              padding: 24px;
              display: block;
              color: $gray-text;
              font-size: 16px;
              &:hover{
                color: $primary-color;
              }
            }

            ul.sub-menu-dropdown {
              left: 100%;
              top: -1px;
            }

          }
          &.right-overflow {
            right: 0;
            left: auto;
            top: 100%;
          }


        }

        .kt-megamenu-wrapper{
          width: 100%;
          > ul{
            display: table;
            list-style: none;
            margin: 0;
            padding: 0;
            table-layout: fixed;
            width: 100%;
            > li{
              border-right: 1px solid #f6f6f6;
              display: table-cell;
              float: none;
              vertical-align: top;
              &:last-child{
                border: none;
              }
              > a,
              > span{
                color: #000000;
                font-size: 18px;
                display: block;
                padding: 40px 28px 24px;
                border-bottom: 1px solid #f6f6f6;
              }
              > ul{
                list-style: none;
                padding: 0;
                margin: 0;
                > li{
                  display: block;
                  border-bottom: 1px solid #f6f6f6;
                  :last-child{
                    border-bottom: none;
                  }
                  > a,
                  > span{
                    padding: 30px 26px 22px;
                    display: block;
                    color: $gray-text;
                    font-size: 16px;
                    &:hover{
                      color: #000000;
                    }
                  }
                }
              }

            }
          }
          &.megamenu-columns-4{
            > ul > li{  width: 25%; }
          }
          &.megamenu-columns-3{
            > ul > li{  width: 33.33%; }
          }
          &.megamenu-columns-2{
            > ul > li{  width: 50%; }
          }
          &.megamenu-position-left-menubar{
            right: auto;
            left: 0;
          }
          &.megamenu-position-right-menubar{
            right: 0;
            left: auto;
          }

        }

        &.megamenu-width-50{
          .kt-megamenu-wrapper{  width: 50%;  }
        }
        &.megamenu-width-75{
          .kt-megamenu-wrapper{  width: 75%;  }
        }
        &.megamenu-width-80{
          .kt-megamenu-wrapper{  width: 80%;  }
        }
        &.megamenu-width-90{
          .kt-megamenu-wrapper{  width: 90%;  }
        }

      }

      li{
        &:hover{
          > ul.sub-menu-dropdown,
          .kt-megamenu-wrapper{
            @include opacity(1);
            @include transform(translate(0, 0));
            visibility: visible;
          }
        }
        ul.sub-menu-dropdown{
          li {
            > ul.sub-menu-dropdown {
              &.right-overflow{
                right: 100%;
                left: auto;
              }
            }
          }
        }
      }

    }
  }
}




.main-nav-mobile{
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  max-height:400px;
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: none;
  li{
    position: relative;
  }

  > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    >li{
      position: relative;
      @include transform(translateX(-30px));
      @include opacity(0);
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          $r:$i*0.1;
          @include transition(all 0.3s ease-out #{$r}s);
        }
      }

      > a{
        border-bottom: 1px solid $border-color;
        color: $gray-text;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.075em;
        display: block;
        padding: 10px 60px 10px 15px;
        position: relative;
        font-size: 13px;

        &:hover{
          color: #000000;
        }
      }

      a{
        > .open-submenu {
          cursor: pointer;
          height: 100%;
          line-height: 50px;
          position: absolute;
          right: 0;
          text-align: center;
          top: 0;
          width: 40px;

          &:after {
            font-size: 15px;
            @include FontAwesome('\f107');
          }

        }
      }

      ul.sub-menu-dropdown,
      div.kt-megamenu-wrapper{
        border-bottom: 1px solid $border-color;
        display: none;
      }

      ul.sub-menu-dropdown,
      ul.sub-menu-megamenu{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          a{
            padding: 0 10px 0 25px;
            font-size: 13px;
            display: block;
          }
        }
      }

      ul.sub-menu-dropdown{
        padding: 15px 0;
        ul.sub-menu-dropdown{
          border: medium none;
          margin-left: 20px;
          padding: 0;
        }
      }


      div.kt-megamenu-wrapper{
        padding: 10px 0;
        > ul {
          margin: 0;
          padding: 0;
          list-style: none;
          > li {
            margin-bottom: 10px;
            > a,
            > span {
              display: block;
              font-size: 15px;
              color: #000000;
              padding: 3px 10px 3px 25px;
              text-transform: uppercase;
            }
          }
        }
      }

      .searchform{
        margin: 10px;
        input[type="text"]{
          border-width: 1px;
        }
      }


      &.active-menu-item{
        > a {
          > .open-submenu:after{
            content: '\f106';
          }

        }
      }

    }
  }
}


body.opened-nav-animate{
  height: 100%;
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  .main-nav-mobile {
    display: block;
  }


  &.opened-nav{
    .main-nav-mobile{
      > ul{
        li{
          @include transform(translateX(0));
          @include opacity(1);
        }
      }
    }
  }
}

#header{
  position: relative;
  z-index: 100;

  &.header-full-center{
    .navbar-container{
      padding: 0 77px;
      .branding{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
      }

      .main-navigation-outer{
        position: relative;
      }

    }
    #nav{
      float: none;
      > ul{
        &#main-nav-tool{
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      #main-navigation{
        float: none;
        text-align: center;
      }
    }
  }


  &.navigation-right{

    .mobile-tool{
      left: 0;
      right: auto;
      a{
        float: left;
        margin-right: 0;
        margin-left: 15px;
        &:first-child{
          margin-left: 0;
        }
      }
    }

    #nav{
      float: left;
    }
    .branding{
      float: right;
    }
  }

  &.navigation-center{

    .navbar-container{
      .branding{
        display: none;
        a{
          position: relative;
          z-index: 10;
        }
      }
    }
    .mobile-tool{
      width: 100%;
      a{
        &#hamburger-icon{
          float: left;
          margin: 0;
        }
      }
      .mobile-tool-cart{
        margin-right: 10px;
      }
    }
  }

  &.header-shadow{
    .navbar-container{
      @include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.05));
    }

  }
}



/* ==============================
   9. Footer
   ============================== */


#footer-top{
  background: $gray-bg;
  padding: 85px 0 60px;
}
#footer-area{
  padding: 80px 0 30px;
  position: relative;
  .footer-area-inner{
    padding: 82px 80px 40px;
  }

  .footer-area-right{
    background: url('http://placehold.it/640x640') no-repeat center center;
    background-size: cover;
    padding: 80px 85px;
    color: #FFFFFF;
    .widget-title{
      color: #FFFFFF;
    }
  }
  .widget-container{
    margin-bottom: 30px;
    border: none;
    padding: 0;
    .widget-title{
      text-transform: uppercase;
      margin: 0 0 35px;
      letter-spacing: 0.2em;
    }
  }
}
#footer-bottom{
  padding: 25px 0;
  background: $gray-bg;
  .widget-container{
    margin: 0;
    padding: 0;
    .widget-title{
      margin: 8px 0;
      text-transform: uppercase;
    }
  }
  .social-nav{
    margin-top: 8px;
  }
}
#footer-copyright{
  padding: 35px 0;
  text-align: center;
  .container{
    .social-nav,
    .footer-copyright{
      margin-bottom: 15px;
    }
    .footer-copyright{
      font-size: 14px;
    }
    > *:last-child{
      margin-bottom: 0;
    }
  }
}

/* ==============================
   10. Shortcodes
   ============================== */
/*
 * 10.1 Heading Section
 */
.kt-heading-wrapper{
  text-align: center;
  margin-bottom: 50px;

  .kt-heading-divider{
    width: 60px;
    margin: 0 auto;
    path {
      fill: $gray-text;
    }
  }
  .kt-heading-title{
    line-height: 30px;
    margin: 24px 0 10px;
  }
  .kt-heading-subtitle{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    a{
      color: $gray-text;
      &:hover{
        color: #000000;
      }
    }
  }
}


/*
 * 10.2 Hightlight
 */
.hightlight {
  color: #ffffff;
  padding: 0 4px;
  border-radius: 3px;
  &.hightlight1{
    background: #c7db9c;
  }
  &.hightlight2{
    background: #ed8b5c;
  }
  &.hightlight3{
    background: #f4dc86;
  }
  &.hightlight4{
    background: #bce5d3;
  }
}


/*
 * 10.3 Dropcap
 */
.kt_dropcap{
  float: left;
  display: block;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  &.dropcap-sm{
    font-size: 72px;
    line-height: 72px;
    height: 72px;
    &.dropcap-bg{
      font-size: 30px;
      line-height: 40px;
      height: 40px;
      &.dropcap-circle{
        width: 40px;
      }
    }
  }
  &.dropcap-md{
    font-size: 100px;
    line-height: 100px;
    height: 100px;
    &.dropcap-bg{
      font-size: 48px;
      line-height: 65px;
      height: 65px;
      &.dropcap-circle{
        width: 65px;
      }
    }
  }
  &.dropcap-gray{
    color: #bce5d3;
  }
  &.dropcap-black{
    color: #000000;
  }
  &.dropcap-orange{
    color: $orange;
  }
  &.dropcap-bg{
    padding: 0 10px;
    margin-top: 10px;
    &.dropcap-circle{
      border-radius: 100%;
    }
    &.dropcap-gray{
      background: #bce5d3;
      color: #fff;
    }
    &.dropcap-black{
      background: #000000;
      color: #fff;
    }
    &.dropcap-orange{
      background: $orange;
      color: #fff;
    }
  }
}


/*
 * 10.4 Lists
 */
ul.style-list{
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
  li{
    padding-left: 52px;
    margin-bottom: 20px;
    position: relative;
    line-height: 30px;
    &:after{
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
    }
  }
  &.style1{
    counter-reset: my-badass-counter;
    li:after{
      content: counter(my-badass-counter, decimal);
      counter-increment: my-badass-counter;
      border-radius: 100%;
      border: 1px solid #d8d8d8;
      font-size: 14px;
      color: #000;
      line-height: 28px;
    }
  }
  &.style2{
    li:after{
      border-radius: 100%;
      background: $orange;
      color: #fff;
      font-size: 10px;
      line-height: 28px;
      @include FontAwesome('\f00c');
    }
  }
  &.style3{
    li:after{
      border-radius: 100%;
      border: 1px solid #d8d8d8;
      font-size: 14px;
      color: #000;
      line-height: 28px;
      @include FontAwesome('\f105');
    }
  }
}


/*
 * 10.5 Alert
 */

.alert{
  padding: 40px 40px 40px 100px;
  border: 1px solid #dce2ed;
  border-radius: 0;
  position: relative;
  line-height: 24px;
  margin-bottom: 30px;
  .alert_title{
    font-size: 18px;
    letter-spacing: 0.05em;
    margin: 0 0 5px;
    text-transform: none;
  }
  button.close{
    position: absolute;
    top:18px;
    right:18px;
    margin: 0;
    text-shadow: none;
    @include opacity(1);
    font-weight: normal;
    font-size: 18px;
  }
  &:after{
    @include FontAwesome("\f0f3");
    text-transform: none;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    font-size: 36px;
    @include transform(translateY(-50%));
    width: 100px;
    color:#9fadbd;
  }
  &.alert-info:after{
    content: "\f05a";
    color: #f95b46;
  }
  &.alert-success:after{
    content: "\f058";
    color: #84be20;
  }
  &.alert-warning:after{
    content:"\f071";
    color: #e7ad24;
  }
  &.alert-danger:after{
    content: "\f05a";
    color: #f56048;
  }
  &.alert-normal{
    color: #7a8692;
    .alert_title,button.close{
      color: #7a8692;
    }
  }
  &.alert-info{
    color: #c86353;
    .alert_title,button.close{
      color: #c86353;
    }
  }
  &.alert-success{
    color: #84be20;
    .alert_title,button.close{
      color: #84be20;
    }
  }
  &.alert-warning{
    color: #d99e12;
    .alert_title,button.close{
      color: #d99e12;
    }
  }
  &.alert-danger{
    color: #eff2f5;
    .alert_title,button.close{
      color: #eff2f5;
    }
  }
  &.style1{
    &.alert-normal{
      background: #ececec;
    }
    &.alert-info{
      background: #f9b5aa;
    }
    &.alert-success{
      background: #e7f6cd;
    }
    &.alert-warning{
      background: #faf4d4;
    }
    &.alert-danger{
      background: #252932;
    }
  }
  &.style2{
    background: none!important;
    &.alert-danger{
      color: #818d9a;
      .alert_title{
        color: #6c7884;
      }
      button.close{
        color: #f56048;
      }
    }
  }
}


/*
 * 10.6 Tabs
 */
.kt-tab-container{
  margin-bottom: 30px;
  .tabs{
    padding: 0;
    list-style: none;
    margin: 0 0 30px;
    background: #fff;
    @include box-shadow(0, 2px, 4px, rgba(#000000, 0.05));
    li{
      float: left;
      margin-right: 15px;
      a{
        display: inline-block;
        padding: 22px 30px;
        line-height: normal;
        font-size: 14px;
        color: #999;
        font-weight: bold;
        text-transform: uppercase;
      }
      &.ui-tabs-active{
        a{
          color: #000;
        }
      }
    }
  }
  .kt-tab-content{
    background: #fff;
    @include box-shadow(0, 2px, 4px, rgba(#000000, 0.05));
    padding: 30px;
    p{
      margin: 0;
    }
  }
}


/*
 * 10.7 Accordion
 */
.kt-accordion{
  margin: 0 0 30px;
  .kt-accortion-title{
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-stack;
    letter-spacing: 0;
    margin: 0 0 20px;
    cursor: pointer;
    position: relative;
    .ui-accordion-header-icon{
      position: absolute;
      width: 10px;
      height: 10px;
      right: 30px;
      top:50%;
      @include translate('y');
      display: block;
      &:after{
        @include FontAwesome('\f067');
        font-size: 10px;
        @include translate();
        font-weight: normal;
      }
    }
    &.ui-accordion-header-active{
      .ui-accordion-header-icon:after{
        content: "\f068";
      }
    }
  }
  &.style1{
    .kt-accortion-title{
      background: $gray-bg;
      &.ui-accordion-header-active{
        background: #000;
        color: #fff;
      }
    }
  }
  &.style2{
    .kt-accortion-title{
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      &.ui-accordion-header-active{
        color: #333946;
      }
    }
  }
  &.style3{
    .kt-accortion-title{
      background: $gray-bg;
      &.ui-accordion-header-active{
        @include background-horizontal(#a7c8eb,#bce5d3);
        color: #fff;
      }
    }
  }
  &.style4{
    .kt-accortion-title{
      background: #fff;
      @include box-shadow(0, 2px, 4px, rgba(0,0,0,.05));
    }
  }
  .kt-accordion-content{
    padding: 10px 30px 30px;
  }
}



/*
 * 10.8 Tooltip
 */
.tooltip{
  opacity: 1;
  font-size: 14px;
  font-family: $font-stack;
  .tooltip-inner{
    @include border-radius(0);
    padding: 10px 15px;
  }

  &.top {
    margin-top: -10px;
    .tooltip-arrow{
      border-width: 10px 10px 0;
      bottom: -5px;
      left: 50%;
      margin-left: -7px;
    }
  }
}

/*
 * 10.9 Socials
 */

.social-nav{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    display: inline-block;
    padding: 0 22px;
    font-size: 14px;
    a{
      @include transform(translatey(0));
      @include transition('all 0.2s ease 0s');
      display: inline-block;
    }
    &:hover{
      a{
        @include transform(translatey(-6px));
      }
    }
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
}
/*
 * 10.10 Newsletter
 */

.newsletters-form{
  margin: 0 auto;
  position: relative;
  input[type=email] {
    background: transparent;
    width: 100%;
    height: 44px;
    padding: 5px 40px 10px 10px;
    font-size: 14px;
    border-color: #dddddd;
  }
  button {
    background: none;
    border: none;
    height: 44px;
    padding: 0;
    right: 0;
    width: 44px;
    font-size: 18px;
    @include translate('y');
    i{
      line-height: 44px;
    }
  }
  input[type=email],
  button{
    color: $gray-darker;
  }

  &.style2{
    input[type=email] {
      border: none;
      border-bottom: 2px solid #000000;
      height: auto;
      padding-left: 0;
      padding-top: 0;

    }
    button{
      text-align: right;
    }
    input[type=email],
    button{
      color: #000000;
    }


  }
}

.newsletters-outer{
  margin-bottom: 30px;
  .newsletters-before{
    margin-bottom: 35px;
  }
  .newsletters-title{
    color: #c7db9c;
    letter-spacing: 0.2em;
  }
  .newsletters-form{
    input[type="email"],
    button{
      color: #000000;
    }
  }
}

.newsletters-wrapper{
  border: 2px solid #dddddd;
  padding: 55px 33px;
  margin-bottom: 30px;
  text-align: center;
  h3{
    font-size: 18px;
    margin: 0 0 40px;
  }
  .newsletters-before{
    margin-bottom: 35px;
    color: $gray-darker;
  }
}


/*
 * 10.11 banner
 */
.banner{
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
  &.banner-dark{
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000000,.4);
      z-index: 5;
      @include transition();
    }
  }
  &:hover{
    &.banner-dark{
      &:after{
        background: rgba(#000000,.6);
      }
    }
  }

  img{
    width: 100%;
  }

  .banner-content{
    width: 100%;
    @include translate(c);
    z-index: 10;
    padding: 30px 60px;
    > *:last-child{
      margin-bottom: 0;
    }
  }
  .banner-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
  }

  &.position-bottom{
    .banner-content{
      bottom: 0;
      left: 0;
      top: auto;
      @include transform(translate(0px, 0px));
    }
    .btn{
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  &.banner-left{
    text-align: left;
  }
  &.banner-right{
    text-align: right;
  }
}
/*
 * 10.12 Category banner
 */
.category-banner{
  position: relative;
  text-align: center;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000,.4);
    z-index: 5;
  }
  img{
    width: 100%;
  }

  .category-banner-content{
    width: 100%;
    @include translate(c);
    z-index: 10;
    > *:last-child{
      margin-bottom: 0;
    }
    h1{
      margin-bottom: 35px;
    }
    ul{
      margin: 0;
      list-style: none;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      @include transition(all 0.5s ease-in-out 0s);
      li{
        font-size: 14px;
        line-height: 36px;
        a{
          color: #cdcdcd;
          &:hover{
            color: #FFFFFF;
          }
        }
      }
    }
  }
  &:hover{
    ul{
      margin: 0 0 35px;
      max-height: 600px;
    }
  }

}

/*
 * 10.13 Flip box
 */
.flip-box{
  @include box-shadow(0, 2px, 6px, rgba(0,0,0,0.05));
  background: #ffffff none repeat scroll 0 0;
  border-color: #ffffff;
  color: #000000;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px;

  .flip-box-before,
  .flip-box-after{
    @include transition(all 0.2s ease-out 0s);
  }

  .flip-box-before{
    font-weight: bold;
    letter-spacing: 0.2em;
    font-family: $heading-font;
    font-size: 24px;
    padding: 44px 40px;
    line-height: 38px;
    text-transform: uppercase;
    @include transform(translate(0px, 0px));
  }
  .flip-box-after{
    font-size: 16px;
    color: $gray-text;
    position: absolute;
    top: 0;
    width: 100%;
    @include transform(translate(0px, -100%));
  }

  &:hover{
    .flip-box-before{
      @include transform(translate(0, 100%));
    }
    .flip-box-after{
      top: 50%;
      @include transform(translate(0, -50%));
    }
  }
}
/*
 * 10.14 Feature icon
 */
.feature-icon{
  margin: 0 0 30px;
  padding: 30px;
  position: relative;
  text-align: center;


  .features-box-icon,
  .features-box-title{
    color: #FFFFFF;
    a{
      color: #FFFFFF;
    }
  }
  .features-box-icon{
    font-size: 48px;
    margin-bottom: 25px;
  }
  .features-box-title{
    font-size: 14px;
    letter-spacing: 0.2em;
    margin: 0;
  }
}

/*
 * 10.15 Single Image
 */
.single-image{
  margin: 0 0 30px;
  overflow: hidden;
  img{
    @include transition('all 1s ease-in-out 0s');
    @include transform(scale(1));
  }
  &:hover{
    img{
      @include transform(scale(1.2));
    }
  }
  &.no-effect{
    &:hover{
      img{
        @include transform(scale(1));
      }
    }
  }
}

/*
 * 10.16 Client
 */
.client-item{
  img{
    margin: 0 auto;
  }
}

/*
 * 10.17 About
 */
.about-wrapper{
  padding: 58px 43px 30px;
  color: #FFFFFF;
  @include css3-prefix('background-size', 'cover');
  background-position: center 550px;
  margin: 0 0 30px;
  .about-title{
    color: #FFFFFF;
    margin: 0 0 30px;
    letter-spacing: 0.2em;
  }
}


/*
 * 10.18 collection
 */
.collection-wrapper{
  position: relative;
  overflow: hidden;

  .left-collection{
    position: absolute;
    top:0;
    left:0;
    width: 45%;
  }

  .right-collection{
    position: absolute;
    right:0;
    bottom:0;
    width: 41.6667%;
  }

  .front-collection{
    margin-top: 225px;
    margin-bottom: 80px;
    position: relative;
    .collection-image{
      text-align: center;
      img{
        margin: 0 auto;
      }
    }
  }

  .collection-content{
    width: 33.3333%;
    .collection-desc{
      margin-bottom: 5px;
    }
  }
}

/*
 * 10.19 Box colored
 */
.box-colored{
  margin-bottom: 30px;
  color: #FFFFFF;
  text-align: center;
  .box-colored-image{
    margin: 0 0 30px;
    overflow: hidden;
    img{
      @include transition('all 1s ease-in-out 0s');
      @include transform(scale(1));
    }
  }
  &:hover{
    img{
      @include transform(scale(1.2));
    }
  }
  .box-colored-title{
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.2em;
    margin: 0 0 30px;
    a{
      padding: 55px 20px;
      color: #FFFFFF;
      display: block;
    }
  }
  :last-child{
    margin-bottom: 0;
  }
}


/*
 * 10.20 Testimonials
 */
.testimonial-posts{
  &.light{
    color: #FFFFFF;
    .testimonial-author{
      color: #FFFFFF;
    }
    .owl-pagination{
      .owl-page{
        background: #FFFFFF;
        &:hover,
        &.active{
          background: #e5e5e5;
        }
      }
    }

  }
}

.testimonial-item{
  text-align: center;
  .testimonial-content{
    font-family: $three-font;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 35px;
    max-width: 865px;
    font-style: italic;
  }
  .testimonial-author{
    margin-bottom: 10px;
    letter-spacing: 0.075em;
  }
}

/*
 * 10.21 Product countdown
 */
.product-countdown{
  background: #fff;
  padding: 30px;
  box-shadow:0 0 6px 0 rgba(0,0,0,0.05);
  margin-bottom: 30px;

  .countdown-wrap{
    width:60px;
    height:60px;
    border:2px solid #f6f6f6;
    text-align: center;
    float:left;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }

    .title{
      font-size:14px;
      color:#999;
      line-height: normal;
    }

    .value-time{
      font-size:18px;
      font-weight: 700;
      color:#000;
      margin: 10px 0 2px;
      line-height: normal;
    }
  }
}

/*
 * 10.22 Callout
 */
.callout-content{
  font-family: $three-font;
  font-style: italic;
  padding-right: 40px;
  width: 70%;
}

/* ==============================
   11. Widgets
   ============================== */

.widget-container{
  margin-bottom: 40px;
  border-bottom: 2px solid #f6f6f6;
  padding-bottom: 5px;
  font-size: 14px;
  &:last-child{
    border: none;
  }

  .widget-title{
    font-size: 18px;
    margin: 0 0 30px;
    text-transform: capitalize;
    letter-spacing: 0.075em;
  }

  &.widget_nav_menu,
  &.widget_categories,
  &.widget_product_categories,
  &.widget_recent_entries{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        padding-bottom: 6px;
        &.nav-copyright{
          color: $gray-text;
          font-weight: 300;
        }
        a{
          color: $gray-darker;
          &:hover{
            color: #000000;
          }
        }
        .count{
          padding-left: 17px;
          font-size: 12px;
          color: #cacaca;
        }
      }
    }
  }
  &.widget_tag_cloud{
    a{
      font-size: 14px !important;
      line-height: normal !important;
      display: inline-block;
      margin: 0 20px 20px 0;
      color: #666;
      &:hover{
        color: #000000;
      }
    }
  }

  &.widget_price_filter{
    .ui-slider {
      position: relative;
      background: $gray-bg;
      margin-bottom: 40px;
      height: 2px;
      margin-left: 4px;
      .ui-slider-range{
        background: #000000;
        height: 100%;
        position: absolute;
      }
      .ui-slider-handle{
        height: 14px;
        width: 4px;
        background: #000000;
        position: absolute;
        top: -6px;
        cursor: ew-resize;
        margin-left: -4px;
      }
    }
  }
  &.widget-hover-content{
    .widget-hover-element{
      visibility: hidden;
      @include opacity(0);
      @include transition('all 0.4s ease-in-out');
    }
    &:hover{
      .widget-hover-element{
        visibility: visible;
        @include opacity(1);
      }
    }
  }

}

/* ==============================
   12. Blog posts
   ============================== */
.blog-posts{
  .blog-post{
    margin-bottom: 25px;
    .blog-post-thumbnail{
      margin-bottom: 33px;
      display: block;
      overflow: hidden;
      img{
        @include transition('all 1s ease-in-out 0s');
        @include transform(scale(1));
      }
      &:hover{
        img{
          @include transform(scale(1.2));
        }
      }
    }
    .blog-post-title{
      margin-bottom: 10px;
      font-size: 16px;
      text-transform: none;
      letter-spacing: 0;
    }
    .blog-post-meta{
      margin-bottom: 20px;
      color: $gray-text;
      > span{
        &:after{
          content: '/';
          padding-left: 4px;
        }
        &:last-child{
          &:after{
            content: '';
          }
        }
      }
      a{
        color: $gray-text;
        &:hover{
          color: #000000;
        }
      }
    }
  }

}
/* ==============================
   13. Single Post
   ============================== */
/*
 * 13.1 Single Post Common styles
 */
.single-post{
  .entry-thumb{
    margin-bottom: 60px;
  }
  .entry-meta-data{
    margin-bottom: 30px;
    font-size: 14px;
    color: #999;
    > span{
      &:after{
        content: "/";
        margin: 0 5px;
      }
      &:last-child:after{
        display: none;
      }
    }
    a{
      color: #000;
    }
  }
  .share-it{
    margin: 65px 0 95px;
    .social_icons{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        display: inline-block;
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
        a{
          display: inline-block;
          padding: 17px 40px;
          border: 2px solid #e3e3e3;
          font-size: 14px;
          color:#999;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          line-height: normal;
          &:hover{
            color: #000;
            border-color: #000;
          }
        i{
          display: none;
        }
        }
      }
    }
  }
  .single-bottom-title{
    margin-bottom: 30px;
    letter-spacing: 0.2em;
  }
}
/*
 * 13.2 Author Info
 */

.author-info {
  background: $gray-bg;
  margin-bottom: 85px;
  padding: 25px 25px 15px;
  .author-avatar {
    float: left;
    max-width: 70px;
  }
  .author-description {
    padding-left: 93px;
  }
  .author-title {
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
    color: #000000;
    text-transform: none;
    letter-spacing: 0.075em;
    a {
      color: #000000;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .author-bio {
    margin-bottom: 0;
  }
  .author-socials {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 40px;
    }
    a {
      color: $gray-text;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

/*
 * 13.3 Comments Area
 */
.comments-area {
  margin-bottom: 55px;
  .comment-list {
    list-style: none;
    margin: 0 0 85px;
    padding: 0;
  }
  .children {
    list-style: outside none none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background: #e1e1e1;
    }
    > li {
      position: relative;
      &:before {
        background: #e1e1e1;
        content: "";
        height: 1px;
        left: -25px;
        position: absolute;
        top: 25px;
        width: 12px;
      }
    }
  }
}

.comments-area {
  .comment-item {
    padding: 25px;
    background: $gray-bg;
    margin-bottom: 30px;
    min-height: 120px;
    .comment-avatar {
      float: left;
      margin-right: 20px;
      max-width: 70px;
    }
    .comment-body {
      padding-left: 90px;
      position: relative;
      .comment-meta {
        margin: 0 0 12px;
        line-height: 15px;
        .comment-author {
          color: #000000;
          font-size: 14px;
          font-weight: 700;
          text-transform: none;
          display: inline-block;
          padding: 0;
          margin: 0 10px 0 0;
          line-height: 15px;
        }
        .comment-metadata {
          color: $gray-text;
          font-size: 12px;
          font-weight: bold;
          display: inline-block;
        }
      }
      .comment-content{
        p:last-child{
          margin: 0;
        }
      }
      .reply {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.075em;
        line-height: 15px;
        position: absolute;
        right: 0;
        top: 0;
        a{
          color: #4ad1e5;
        }
      }
    }
  }
}



/*
 * 13.4 Comment Form
 */
.comment-respond {
  margin-bottom: 30px;
  .comment-form{
    textarea,
    input[type=text] {
      border: none;
      border-bottom: 2px solid $border-color;
      padding: 10px 0;
      height: auto;
      &:focus {
        border-color: $gray-text;
        color: $gray-text;
      }
    }
    textarea{
      height: 55px;
      width: 100% !important;
    }
    .form-submit {
      padding-top: 15px;
    }
  }
}


/* ==============================
   14. Pagination
   ============================== */
.pagination {
  text-align: center;
  display: block;
  margin: 0;
  padding-top: 35px;
  border-top: 2px solid #f6f6f6;
  .page-numbers {
    border: 2px solid transparent;
    color: $gray-darker;
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
    margin: 0 2px;
    padding: 0;
    width: 40px;
    height: 40px;
    &.next,
    &.prev {
      font-size: 18px;
      &:hover{
        border-color: transparent;
        color: #000000;
      }
    }
    &.next{
      float: right;
      text-align: right;
    }
    &.prev{
      float: left;
      text-align: left;
    }
  }
  a.page-numbers:hover,
  .page-numbers.current{
    border-color: #f0f0f0;
  }

}


/* ==============================
   15. Shop
   ============================== */

/*
 * 15.1 Shop Common styles
 */
.star-rating{
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  letter-spacing: 5px;
  line-height: 1;
  position: relative;
  white-space: nowrap;
  &:before {
    color: #c6c6c6;
    content: "\f006\f006\f006\f006\f006";
  }
  span{
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    overflow: hidden;
    top: 0;
    &:before {
      content: "\f006\f006\f006\f006\f006";
      left: 0;
      position: absolute;
      top: 0;
      color: #6fd9e9;
      text-indent: 0;
    }
  }
}

.stars{
  a{
    font-family: FontAwesome;
    font-size: 12px;
    letter-spacing: 5px;
    display: inline-block;
    outline: 0 none;
    position: relative;
    color: #c6c6c6;
    &:after{
      content: "\f006";
    }
    &.active{
      color: #6fd9e9;
    }

  }
}




.products-tools{
  border-bottom: 2px solid #f6f6f6;
  margin-bottom: 50px;
  padding-bottom: 15px;

  .products-sortby{
    float: left;
    .select-icon{
      margin-right: 65px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .grid-list,
  .result-count{
    float: right;
  }
  .grid-list{
    margin: 0 28px 0 0;
    padding: 0;
    list-style: none;
    li{
      display: inline-block;
      ~ li{
        margin-left: 18px;
      }
      a{
        font-size: 14px;
        color: #666;
        &.active{
          color: #000;
        }
      }
    }
  }
}





/*
 * 15.2 Products category
 */

.products{
  .product{
    margin-bottom: 50px;
    text-align: center;

    .product-inner{
      position: relative;
    }

    .product-thumbnail{
      display: block;
    }
    .product-content{
      margin-bottom: 34px;
      position: relative;
      overflow: hidden;
      text-align: center;
      .product-over-add,
      .product-over-tool{
        @include transition('all 0.4s ease 0s');
        @include translate(x);
        width: 212px;
        z-index: 5;
      }
      .product-over-tool{
        top: -55px;
        > a{
          background: #ffffff;
          color: $gray-text;
          font-size: 14px;
          display: inline-block;
          float: left;
          height: 48px;
          line-height: 48px;
          margin: 0 1px 0 0;
          width: 70px;
          &:hover{
            background: #000000;
            color: #FFFFFF;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .product-over-add{
        bottom: -55px;
      }

      .product-over-sale{
        position: absolute;
        right: 16px;
        top: 16px;
        span{
          @include border-radius(2px);
          margin-bottom: 10px;
          color: #FFFFFF;
          background: #ed8b5c;
          line-height: 22px;
          display: block;
          min-width: 50px;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;

          &:before{
            content: '';
            width: 6px;
            height: 6px;
            background: #ed8b5c;
            @include transform(rotate(-45deg) translateX(-50%));
            position: absolute;
            left: 50%;
            bottom: -1px;
          }


          &.onsale{
            background: #6fd9e9;
            &:before{
              background: #6fd9e9;
            }
          }
          &.onnew{
            background: #8ec78e;
            &:before{
              background: #8ec78e;
            }
          }
        }
      }

      .product-thumbnail{
        display: block;
        img{
          @include transition('all 0.4s ease-in-out');
          &.first-img{
            @include opacity(1);
          }
          &.second-img{
            position: absolute;
            top: 0;
            left: 0;
            @include opacity(0);
          }
        }
      }
    }

    .product-title{
      font-size: 16px;
      margin-bottom: 5px;
      text-transform: none;
      letter-spacing: 0.12em;
    }
    .product-price{
      color: $gray-text;
    }
    &:hover{
      .product-over-tool{
        top: 10px;
      }
      .product-over-add{
        bottom: 10px;
      }
      .product-thumbnail{
        img{
          &.first-img{
            @include opacity(0);
          }
          &.second-img{
            z-index: 1;
            @include opacity(1);
          }
        }
      }
    }
  }
  .owl-kttheme{
    .product{
      margin-bottom: 0;
    }
  }
  &.products-multi-masonry{

    .product{
      margin-bottom: 30px;
      position: relative;
      &.grid-sizer{
        margin: 0;
        min-height: 0;
      }
      .product-content{
        margin-bottom: 0;
      }
      .product-details{
        @include translate();
        z-index: 5;
        width: 100%;
        .product-title,
        .product-price{
          @include transition( all 0.4s ease 0s);
          @include opacity(0);
          @include transform(translate3d(0, 30px, 0));
          color: #FFFFFF;
        }
        .product-title a{
          color: #FFFFFF;
        }
      }

      .product-thumbnail{
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(#000000,.5);
          z-index: 1;
          @include transition( all 0.4s ease);
          @include opacity(0);
        }
      }

      &:hover{
        .product-details{
          .product-title,
          .product-price{
            @include transform(translate3d(0, 0, 0));
            @include opacity(1);
          }
          .product-price{
            @include css3-prefix('transition-delay', '.3s');
          }
        }
        .product-thumbnail{
          &:after {
            @include opacity(1);
          }
        }
      }

    }

    .no-gutters{
      .product{
        margin-bottom: 0;
      }
    }

    &.masonry-botom{
      .product{
        .product-details{
          @include transform (translate(0, 0));
          left: 25px;
          top: auto;
          bottom: 25px;
          text-align: left;
          width: auto;
        }
      }
    }

  }
  &.products-gallery{
    .product{
      .product-content{
        margin-bottom: 40px;
      }
      .product-inner{
        background: #FFFFFF;
        padding: 0 0 20px;
        @include box-shadow(0, 2px, 6px, rgba(#000000, 0.05));
      }
      .product-title{
        letter-spacing: 0;
      }
    }
  }

  .product-description,.produt-tool-list{
    display: none;
  }

  &.lists{
    .product{
      padding: 40px 15px;
      margin: 0;
      border-bottom: 1px solid #f6f6f6;
      width: 100%;
      text-align: left;
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        border-bottom: none;
      }
      .product-description,.produt-tool-list{
        display: block;
      }
      .product-attribute{
        margin-left: 330px;
      }
      .product-content{
        float: left;
        max-width: 270px;
        margin-bottom: 0;
        margin-right: 60px;
        .product-over-tool,.product-over-add{
          display: none;
        }
      }
      h3.product-title{
        margin-top: 20px;
      }
      .produt-tool-list{
        margin-top: 40px;
        .quantity,.product-over-add{
          float: left;
          margin-right: 30px;
          margin-top: 12px;
        }
        .quantity{
          input{
            height: 48px;
            width: 60px;
            text-align: center;
            &:focus{
              border-color: #000;
            }
          }
        }
        .product-over-tool{
          float: left;
          margin-top: 12px;
          > a{
            display: inline-block;
            width: 60px;
            height: 48px;
            border: 2px solid #e3e3e3;
            text-align: center;
            color: #999;
            &:hover{
              color: #000000;
              border-color: #000000;
            }
            &:last-child{
              margin-left: 26px;
            }
            i{
              line-height: 44px;
            }
          }
        }
      }
    }
  }

}


.product-content{
  .cd-item-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: absolute;
      top: 0;
      left: 17%;
      height: 100%;
      width: 66%;
      @include opacity(0);
      @include transform(translateZ(0));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform, opacity;
      @include transform(translateX(200%) scale(0.5));
      @include transition('transform 0.4s, opacity 0.4s');
      &.selected {
        position: relative;
        opacity: 1;
        @include transform(translateX(0) scale(1));
      }
      &.move-right {
        @include transform(translateX(70%) scale(0.5));
        @include opacity(0);
      }
      &.move-left {
        @include transform(translateX(-70%) scale(0.5));
        @include opacity(0);
      }
      &.hide-left {
        @include transform(translateX(-140%) scale(0.5));
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }
  &:hover{
     li{
       &.move-right,
       &.move-left{
         @include opacity(0.3);
       }
       &.hover{
         &.move-right,
         &.move-left{
           @include opacity(1);
         }
       }
     }
   }
}

.cd-dots{
  bottom: 0px;
  left: 50%;
  position: absolute;
  right: auto;
  @include transform(translateX(-50%));
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    float: left;
    margin: 0 5px;
    a{
      display: block;
      height: 7px;
      width: 7px;
      @include border-radius(50%);
      border: 1px solid #9688a0;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      @include transition(border-color 0.2s, background-color 0.2s);
    }
    &.selected{
      a{
        background: #2f2933 none repeat scroll 0 0;
        border-color: #2f2933;
      }

    }
  }
}



.product-list-widget{
  .product-widget{
    padding-bottom: 30px;
  }
  .product-title{
    font-size: 16px;
    margin: 0 0 7px;
    text-transform: none;
    letter-spacing: 0.075em;
  }
}


/*
 * 15.3 Product Detail
 */

.product-main{
  .product-detail-thumbarea{
    margin-bottom: 30px;
    .single-product-main-images{
      margin-bottom: 30px;
      position: relative;
      .owl-controls{
        bottom: 8px;
        margin: 0;
        position: absolute;
        right: 9px;
        .owl-buttons{
          > div{
            width: 60px;
            height: 48px;
            padding: 0;
            text-align: center;
            background: #fff;
            @include css3-prefix('box-shadow', '1px 0 3px rgba(0,0,0,0.1)');
            @include css3-prefix('opacity', '1');
            @include css3-prefix('border-radius', '0');
            &.owl-prev{

            }
            &.owl-next{

            }
            i{
              font-size: 14px;
              color: #999;
              line-height: 48px;
            }
          }
        }
      }
    }
  }
  &.style1{
    .single-product-main-thumbnails{
      width: auto;
      margin-right: -15px;
      margin-left: -15px;
      .owl-item{
        padding: 0 15px;
      }
    }
  }
  &.style2{
    .single-product-main-images{
      margin-bottom: 0;
    }
    .product-detail-wrap{
      padding: 100px 0 80px;
      max-width: 570px;
    }
    .product-detail-thumbarea{
      margin: 0;
    }
  }
  &.style3{
    .product-detail-thumbarea{
      margin-bottom: 0;
      padding: 30px;
      background: #ededed;
    }
    .single-product-main-thumbnails{
      width: auto;
      margin-right: -10px;
      margin-left: -10px;
      .owl-item{
        padding: 0 10px;
      }
    }
    .product-detail-wrap{
      padding: 90px 0;
      max-width: 570px;
    }
  }

  .breadcrumb{
    font-size: 14px;
    line-height: 1;
    margin-bottom: 35px;

  }
  .product-title{
    font-size: 18px;
    padding-bottom: 30px;
    border-bottom: 2px solid #f6f6f6;
    margin: 0 0 30px;
  }
  .product-price-wrap{
    margin-bottom: 35px;
    h3.price{
      float: left;
      margin: 0;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 0;
    }
    .review-summary{
      float: left;
      margin: 3px 0 0 50px;
    }
    .reviews-text{
      display: inline-block;
      font-size: 14px;
      padding-left: 48px;
    }
  }
  form.cart{
    margin-bottom: 45px;
    .quantity{
      float: left;
      width: 60px;
      margin-right: 30px;
      input{
        height: 48px;
        text-align: center;
        &:focus{
          border-color: #000000;
        }
      }
    }
    button{
      float: left;
      width: auto;
    }
    .cart-tool{
      float: left;
      .add_to_wishlist,
      .add_to_compare{
        float: left;
        margin-left: 30px;
        width: 60px;
        height:48px;
        text-align: center;
        border: 2px solid #e3e3e3;
        color: #999;
        font-size: 14px;
        line-height: 44px;
        &:hover{
          border: 2px solid #000000;
          color: #000000;
        }
      }
    }
  }

  .product-short{
    p{
      margin-bottom: 20px;
    }
  }


  .product_meta{
    padding-bottom: 30px;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 35px;
    > span{
      display: block;
      a{
        color: #666;
        &:hover{
          color: #000000;
        }
      }
    }
  }
  .product-shareit{
    .social_icons{
      margin: 0 -11px;
      padding: 0;
      list-style: none;
      li{
        float: left;
        width: 33.33%;
        line-height: normal;
        padding:0 11px;
        a{
          color: #999;
          letter-spacing: 0.15em;
          padding: 15px 40px;
          border: 2px solid #e3e3e3;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          display: block;
          &:hover,&:focus{
            color: #000;
            border-color: #000;
          }
          i{
            display: none;
          }
        }
      }
    }
  }
} 

.easyzoom-flyout img {
    max-width: none !important;
    width: auto !important;
}

.woocommerce-tabs{
  .nav{
    padding-bottom: 30px;
    border-bottom: 2px solid #e3e3e3;
    margin-bottom: 50px;
    li{
      float: left;
      margin-right: 140px;
      &:last-child{
        margin-right: 0;
      }
      a{
        padding: 0;
        line-height: normal;
        font-size: 14px;
        font-family: $heading-font;
        color: #999;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: bold;
        &:hover,&:focus{
          background: none;
        }
      }
      &.active{
        a{
          color: #000;
        }
      }
    }
  }
  .shop_attributes{
    width: 50%;
    tr{
      td,th{
        padding: 15px 0;
        font-weight: normal;
        line-height: normal;
        border-bottom: 1px dashed #e3e3e3;
      }
    }
  }
  .comments-area{
    .comments-title{
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.075em;
      color: #666;
      font-family: $font-stack;
      text-transform: none;
      margin-bottom: 55px;
    }
    .comment-list{
      margin: 0;
    }
    .comment-item{
      padding: 0;
      min-height: 0;
      margin-bottom: 40px;
      .comment-avatar{
        max-width: 45px;
        border-radius: 100%;
        overflow: hidden;
      }
      .comment-content{
        margin-left: 65px;
        .comment-meta{
          margin-bottom: 15px;
          line-height: normal;
          .author_name{
            margin: 0 30px 0 0;
            display: inline-block;
            font-size: 16px;
            font-family: $font-stack;
            text-transform: none;
          }
          .comment-date{
            margin-right: 25px;
            display: inline-block;
          }
        }
        p{
          margin: 0;
        }
      }
    }
  }  
}

#review_form{
  .comment-reply-title{
    font-family: $font-stack;
    font-size: 14px;
    color: #666;
    text-transform: none;
    letter-spacing: 0.075em;
  }
  .comment-form-rating{
    display: inline-block;
    margin-right: 36px;
    #rating{
      display: none;
    }
    .stars{
      width: 210px;
      border: 2px solid #e3e3e3;
      text-align: center;
      line-height: 47px;
      margin: 0;
    }
  }
  .form-submit{
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

/*
 * 15.4 Checkout page
 */

.title-checkout{
  letter-spacing: 0.2em;
  padding: 10px 0;
  border: 1px solid #f0f0f0;
  margin: 0;
  text-align: center;
}
.checkout-wrap{
  padding: 20px;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  margin-bottom: 30px;
}
form.checkout{
  .form-group{
    margin-bottom: 20px;
    label,p{
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      margin-bottom: 10px;
    }
    label{
      letter-spacing: 0.05em;
      display: block;
      abbr{
        color: #ff0000;
        text-decoration: none;
        border: none;
      }
    }
  }
  .woocommerce-shipping-fields{
    label{
      font-weight: normal;
      font-size: 14px;
      display: block;
    }
  }
  input[type="checkbox"]{
    vertical-align: middle;
    margin:0 10px 0 0;
  }
  p{
    margin-bottom: 15px;
  }
  .title-order{
    padding:12px;
    text-align: center;
    background: $gray-bg;
    letter-spacing: 0.2em;
    margin: 0;
  }
  .coupon_wrap{
    margin-bottom: 7px;
    p{
      font-weight: bold;
    }
    .coupon-form{
      padding-right: 227px;
      position: relative;
      input{
        width: 100%;
        padding: 12px;
        line-height: normal;
        height: auto;
        font-weight: bold;
      }
      input.submit{
        position: absolute;
        right:0;
        top:0;
        width: 207px;
        letter-spacing: 0.2em;
        height: 100%;
      }
    }
  }
}
#order_review{
  .shop_table{
    width: 100%;
    margin-bottom: 30px;
    tbody,tfoot{
      border-bottom: 2px solid #000;
    }
    th,td{
      padding: 25px 0;
      color: #666;
      border-bottom: 1px solid #f6f6f6;
      font-size: 14px;
      letter-spacing: 0.075em;
    }
    tfoot{
      .order-total{
        td{
          color: #000;
        }
      }
    }
  }
}
#payment{
  margin-bottom: 10px;
  .payment_methods{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      margin: 0 0 30px;
      .payment_box{
        background: $gray-bg;
        padding: 15px;
        position: relative;
        font-size: 14px;
        line-height: 24px;
        display: none;
        &:after{
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #f6f6f6;
          top: -8px;
          content: "";
          height: 0;
          position: absolute;
          left:30px;
          width: 0;
        }
        p{
          margin: 0;
        }
      }
      label{
        margin:0 0 20px;
        font-size: 14px;
        color: #666;
        letter-spacing: 0.075em;
        line-height: normal;
        .input-radio{
          margin: 0 10px 0 0;
          position: static;
        }
      }
    }
  }
  .place-order{
    text-align: center;
  }
}

/*
 * 15.5 My Cart page
 */

.table-cart-form{
  margin-bottom: 45px;
}
table.cart{
  width: 100%;
  text-align: center;
  thead{
    th{
      border:1px solid #f0f0f0;
      padding: 12px;
      text-align: center;
      font-size: 14px;
      font-family: $heading-font;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      line-height: normal;
      color: #000;
    }
  }
  td{
    padding: 14px;
    border:1px solid #f0f0f0;
    font-size: 14px;
    &.product-name{
      a{
        letter-spacing: 0.075em;
        font-family: $heading-font;
        font-weight: bold;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    &.product-thumbnail{
      img{
        max-width: 100px;
        margin: 0 auto;
      }
    }
    .qty{
      width: 60px;
      margin: 0 auto;
      text-align: center;
    }
    &.actions{
      padding: 31px 31px 21px;
      button{
        margin: 0 15px 10px;
        color: #010101;
        &:hover,&:focus{
          background: #000;
          color: #fff;
        }
      }
    }
  }
}
.cart-collaterals{
  h5{
    padding: 12px 0;
    border: 1px solid #f0f0f0;
    text-align: center;
    margin: 0;
    letter-spacing: 0.2em;
  }
  .cart-collaterals-inner{
    padding: 22px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    p{
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .cart_totals{
    table{
      width: 100%;
      tr{
        &.order-total{
          td{
            color: #000;
          }
        }
        th,td{
          padding: 15px 0;
          line-height: normal;
          font-size: 14px;
          color: #666;
          font-weight: bold;
        }
      }
    }
  }
  .cart_totals{
    .cart-collaterals-inner{
      border-bottom: 1px solid #f0f0f0;
      margin-bottom: 20px;
    }
  }
  .button-checkout{
    text-align: center;
    border: 1px solid #f0f0f0;
    border-top: none;
    padding: 20px;
  }
  .coupon-form{
    input{
      margin-bottom: 20px;
    }
  }
  .shipping_calculator{
    select{
      font-size: 12px;
      letter-spacing: 0.075em;
    }
    .row{
      margin-left: -10px;
      margin-right: -10px;
      > div{
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    button{
      padding:9px 0;
      text-align: center;
      width: 100%;
      letter-spacing: 0.18em;
    }
  }
}


/*
 * 15.6 Compare page
 */

table.compare{
  tr{
    td{
      padding: 28px 22px;
      border: 1px solid #eee;
      &.compare-title{
        padding: 28px 20px;
        background: #fafafa;
        font-size:14px;
        font-family: $heading-font;
        font-weight: bold;
        letter-spacing: 0.075em;
        color: #222;
        min-width: 160px;
      }
      &.product-thumbnail{
        font-size:14px;
        font-family: $heading-font;
        font-weight: bold;
        letter-spacing: 0.075em;
        color: #000;
        a:hover{
          text-decoration: underline;
        }
        img{
          margin-right: 24px;
          max-width: 100px;
        }
      }
      &.actions{
        min-width: 326px;
      }
      .amount{
        font-size: 14px;
      }
      .instock{
        color: #6fd9e9;
        font-weight: normal;
      }
      .outstock{
        color: #8ec78e;
        font-weight: normal;
      }
      .qty{
        max-width: 60px;
        text-align: center;
      }
      .add_to_wishlist{
        width: 60px;
        height: 48px;
        border:2px solid #e3e3e3;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        i{
          color: #999;
          line-height: 44px;
        }
        &:hover{
          border-color: #000;
          i{
            color: #000;
          }
        }
      }
      .add_to_cart_button{
        float: left;
        margin-right: 17px;
      }
    }
  }
}

/*
 * 15.7 My Account page
 */

#customer_login{
  h5{
    border: 1px solid #f0f0f0;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  form{
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-top: none;
    margin-bottom: 30px;
    label{
      font-size: 14px;
      font-weight: normal;
      line-height: normal;
      margin-bottom: 10px;
      letter-spacing: 0.075em;
      display: block;
      &.inline{
        display: inline-block;
        margin-left: 10px;
      }
      .required{
        color: #ff0000;
      }
    }
    .form-row{
      margin-bottom: 20px;
    }
    .lost_password{
      margin: 0;
    }
  }
}

/*
 * 15.8 QuickView
 */

.themedev-product-popup{
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  overflow: hidden;

  .close-quickview{
    font-size: 18px;
    line-height: 1.4;
    position: absolute;
    right: 30px;
    top: 35px;
    &:hover{

    }
    &.mobile-version{
      display: none;
      height: 30px;
      line-height: 30px;
      right: 0;
      text-align: center;
      top: 0;
      width: 30px;
    }
  }

  .product-main{
    background: #FFF;
    .product-detail-images{
      padding: 30px;
      max-width: 600px;
    }
    .product-detail-thumbarea{
      margin: 0;
      padding: 0;
    }
    .product-details-info{
      position: absolute;
      padding: 35px 30px 30px;
      visibility: hidden;
      @include opacity(0);
      @include transition();
      @include transform(translate3d(-40px, 0, 0));
    }
  }

  &.animate-width{
    max-width: 1200px;
    .product-detail-images{
    }
  }

  &.add-content{
    max-width: 1200px;
    .product-detail-images{
      width: 50%;
      float: left;
    }
    .product-details-info {
      position: relative;
      visibility: visible;
      opacity: 1;
      float: left;
      width: 50%;
      @include transform(translate3d(0, 0, 0));
    }
  }

}

/* ==============================
   16. Slideshow and owl carousel
   ============================== */


/*
 * 16.1 Rev slider
 */
.rev_slider{
  .product-attr{
    text-align: center;
    h4{
      font-size:16px;
      text-transform: none;
      margin: 0 0 10px;
    }
  }

  .tp-loader.spinner0{
    background-color: #FFFFFF;
  }

  .metis{
    width: 50px;
    height: 50px;
    @include box-shadow(0,2px, 6px, rgba(#000, 0.05));
    &.tparrows{
      &:before{
        font-size: 15px;
        line-height: 34px;
        color: $gray-text;
      }
      &.tp-leftarrow{
        &:before{
          @include FontAwesome('\f104');
        }
      }
      &.tp-rightarrow{
        &:before{
          @include FontAwesome('\f105');
        }
      }

    }
  }

  .ares{
    .tp-bullet{
      width: 7px;
      height: 7px;
      background: #d7d7d7;

      &:hover,
      &.selected{
        background: #000000;
      }
    }
  }

  .site-nav{
    width: 46px;
    background: none;
    border:2px solid #fff;
    &:hover:before{
      @include transform(scale(1.2));
    }
    &:before{
      font-family: "icomoon";
      font-size: 18px;
      line-height: 36px;
      @include transition(all 0.4s ease);
    }
    &.tp-rightarrow:before{
      content: "\ebf9"; 
    }
    &.tp-leftarrow:before{
      content: "\ea26"; 
    }
  } 

  .site-pagination{
    .tp-bullet{
      width: 7px;
      height: 7px;
      background: #999999;
      @include border-radius(50%);
      &:hover,
      &.selected{
        background: #ffffff;
      }
    }
  }
}











/*
 * 16.2 Owl Carousel
 */
.owl-carousel-kt{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
  position: relative;
  cursor: url(../images/drag.png) 16 9, ew-resize !important;

  &.no-gutters{
    margin-left: 0;
    margin-right: 0;
    .kt-owl-carousel{
      .owl-item {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.big-width{
    .owl-carousel-kt-inner{
      max-width: 1550px;
      margin: 0 auto;
    }
  }

  .kt-owl-carousel{
    .owl-item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &.navigation-center,
  &.navigation-center-inner{
    .owl-buttons{
      > div{
        @include translate(y);
        font-size: 30px;
        color: #000000;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }
  }

  &.navigation-center{
    .owl-buttons{
      > div{
        &.owl-prev{
          left: -105px;
        }
        &.owl-next{
          right: -105px;
        }
      }
    }
  }

  &.navigation-center-inner{
    .owl-buttons{
      > div{
        color: #FFFFFF;
        &.owl-prev{
          left: 20px;
        }
        &.owl-next{
          right: 20px;
        }
      }
    }
  }

  .owl-buttons {
    @include opacity(0);
    @include transition(all 1s ease);
    > div{
      cursor: pointer;
    }
  }

  &:hover{
    .owl-buttons{
      @include opacity(1);
    }
  }

  &.visiable-navigation{
    .owl-buttons {
      @include opacity(1);
    }
  }

  &.navigation-square-light{
    .owl-buttons {
      div{
        @include box-shadow(0,2px, 6px, rgba(#000, 0.05));
        background: #FFFFFF;
        color: $gray-text;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        width: 50px;
      }
    }

    &.navigation-center-inner{
      .owl-buttons{
        > div{
          &.owl-prev{
            left: 35px;
          }
          &.owl-next{
            right: 35px;
          }
        }
      }
    }

  }

  .owl-pagination{
    text-align: center;
    margin: 40px 0 0;
    .owl-page{
      background: #d7d7d7;
      cursor: pointer;
      height: 8px;
      display: inline-block;
      width: 8px;
      margin: 0 7px;
      @include border-radius(50%);
      @include transition();
      &:hover,
      &.active{
        background: #000000;
      }
    }
  }
  &.pagination-before{
    .owl-pagination{
      margin: 0 0 40px;
    }
  }

}






/* ==============================
   17. Popup Newletter
   ============================== */
#popup-wrap{
  max-width: 900px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  .mfp-close{
    left: 100%;
    background: #fff;
    @include opacity(1);
    &:active{
      top: 0;
    }
  }
  .wrapper-newletter-popup{
    padding: 50px 55px 35px 405px;
    text-align: center;
    .newsletters-form {
      margin-top: 50px;
    }
    .bg-popup{
      width: 350px;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      background: url('../assets/images/bg-popup.png') no-repeat center center;
      background-size: cover;
    }
  }
}

/* ==============================
   18. Back to Top
   ============================== */
#back-to-top{
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  cursor: pointer;
  display: none;
  @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.12));
  color: #000000;
  i{
    font-size: 18px;
    line-height: 50px;
    @include transition(all 0.4s ease);
  }
  &:hover{
    i{
      @include transform(scale(1.5));
    }
  }
}



/* ==============================
   19. Main content
   ============================== */
/*
 * 19.1 About page
 */


.about-left{
  margin-left: 30px;
  margin-bottom: 30px;
}

/*
 * 19.2 Contact page
 */
.contact-details{
  background: $gray-bg;
  padding: 65px 35px;
  margin-bottom: 30px;
  color: $gray-text;
  p{
    line-height: 36px;
    margin-bottom: 40px;
  }
  .social-nav{
    li{
      a{
        color: $gray-text;
        &:hover{
          color: #000000;
        }
      }
    }
  }
}
.contactform{
  margin-bottom: 30px;
  h4{
    margin-bottom: 30px;
  }
  input[type="text"],
  textarea{
    padding: 15px 0;
    line-height: normal;
    border: none;
    border-bottom: 2px solid #e3e3e3;
    height: auto;
    &:focus{
      border-color: $gray-text;
    }
  }
  textarea{
    width: 100%!important;
  }
}
/*
 * 19.3 404 page
 */
.wrapper-404{
  background: #f6f6f6;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
}
#error404{
  text-align: center;
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  @include translate;
  padding: 0 20px;
  z-index: 2;
  h1{
    font-family: $four-font;
    font-size: 200px;
    font-style: italic;
    line-height: 200px;
    margin-bottom: 25px;
    letter-spacing: 0;
    font-weight: 400;
  }
  h4{
    font-size: 16px;
    font-family: $font-stack;
    color: #999;
    text-transform: none;
    margin-bottom: 30px;
    font-weight: 400;
  }
  p{
    a{
      color: #74cdd7;
      i{
        font-size: 20px;
        vertical-align: middle;
        margin-left: 15px;
      }
    }
  }
}
