a:hover,
a:focus {
    color: #49C9B1;
}
.text-primary {
    color: #49C9B1;
}
.bg-primary {
    background-color: #49C9B1;
}
.btn-primary {
    background-color: #49C9B1;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #49C9B1;
}
.btn-primary .badge {
    color: #49C9B1;
}
.btn-link:hover,
.btn-link:focus {
    color: #49C9B1;
}
.hentry-search .entry-header .cat-links,
.hentry .entry-header .cat-links {
    color: #49C9B1;
}
.hentry-search .entry-header .cat-links a,
.hentry .entry-header .cat-links a {
    color: #49C9B1;
}
.hentry-search .entry-footer .noo-readmore:hover,
.hentry .entry-footer .noo-readmore:hover {
    color: #49C9B1;
}
.hentry-search .entry-footer span a:hover,
.hentry .entry-footer span a:hover {
    color: #49C9B1;
}
.hentry-search.sticky,
.hentry.sticky {
    border-color: #49C9B1;
}
.hentry-search.sticky:after,
.hentry.sticky:after {
    background: #49C9B1;
}
.single-meta span a:hover {
    color: #49C9B1;
}
#comments ol li .comment-wrap .comment-header .comment-meta .comment-edit a,
#comments ul li .comment-wrap .comment-header .comment-meta .comment-edit a {
    color: #49C9B1;
}
#comments #respond .form-submit input:hover {
    background: #49C9B1;
}
.comment-reply-link {
    color: #49C9B1;
}
.noo-topbar .noo-topmeta-left a:hover {
    color: #49C9B1;
}
.noo-topbar .noo-topmeta ul li a:hover {
    color: #49C9B1;
}
.header-meta ul li .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-title a:hover {
    color: #49C9B1;
}
.header-meta ul li .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-price ins {
    color: #49C9B1;
}
.header-meta ul li .noo-minicart .minicart-footer .minicart-actions .button:hover {
    background: #49C9B1;
    border-color: #49C9B1;
}
.header-meta ul li .noo-icon-cart span {
    background: #49C9B1;
}
.header-meta ul li .noo-icon-cart:hover span {
    color: #49C9B1;
}
.noo-main-menu .navbar-nav li > a:before {
    background-color: #49C9B1;
}
.noo-main-menu .navbar-nav li > a:hover,
.noo-main-menu .navbar-nav li > a:focus {
    color: #49C9B1;
}
.noo-main-menu .navbar-nav li > .sub-menu li a:hover {
    color: #49C9B1;
}
.noo-main-menu .navbar-nav li.noo_megamenu > .sub-menu > li .noo_megamenu_widget_area li a:hover {
    color: #49C9B1;
}
.noo-main-menu .navbar-nav li.noo_megamenu > .sub-menu > li .noo_megamenu_widget_area li ins span.amount {
   	color: #49C9B1;
}
.header_absolute_transparent .navbar-wrapper .navbar-default .navbar-brand:hover,
.header_absolute_transparent .navbar-wrapper .navbar-default .header-meta a:hover,
.header_absolute_transparent .navbar-wrapper .navbar-default .noo-main-menu .navbar-nav > li > a:hover {
    color: #49C9B1;
}
.header_absolute_topbar .navbar-wrapper .navbar-default .navbar-brand:hover,
.header_absolute_topbar .navbar-wrapper .navbar-default .header-meta a:hover,
.header_absolute_topbar .navbar-wrapper .navbar-default .noo-main-menu .navbar-nav > li > a:hover {
    color: #49C9B1;
}
.header_services .header-meta ul li .noo-icon-cart:hover span {
    background: #49C9B1;
}
.header_classic .header-meta ul li .noo-icon-cart:hover span {
    background: #49C9B1;
}
.search-header5 form input[type='submit'] {
    background: #49C9B1;
}
.page-template-page-product-slider .header-meta ul li > a.noo-icon-cart:hover span {
    background: #49C9B1;
}
.noo-breadcrumb .noo-container .back-home:hover {
    color: #49C9B1;
}
.noo-attach:after {
    background: #49C9B1;
}
.contact-form input[type='submit']:hover {
    background: #49C9B1;
}
.contact-form p em {
    color: #49C9B1;
}
.our-blog-item .noo-blog-desc .entry-meta span a:hover {
    color: #49C9B1;
}
.our-blog-item .noo-readmore:hover {
    color: #49C9B1;
}
.noo-blog-slider-wrap .noo-blog-slider .blog-slider-item .entry-meta span a:hover,
.noo-blog-slider-wrap .noo-blog-creative .blog-slider-item .entry-meta span a:hover {
    color: #49C9B1;
}
.noo-blog-slider-wrap .noo-blog-slider .blog-slider-item2 .slider-item2 .noo-date:after,
.noo-blog-slider-wrap .noo-blog-creative .blog-slider-item2 .slider-item2 .noo-date:after {
    background: #49C9B1;
}
.noo-blog-slider-wrap .noo-blog-slider .blog-slider-item2 .slider-item2 .noo-readmore:hover,
.noo-blog-slider-wrap .noo-blog-creative .blog-slider-item2 .slider-item2 .noo-readmore:hover {
    color: #49C9B1;
}
.noo-blog-slider-wrap .noo-blog-slider .owl-controls .owl-prev:hover:after,
.noo-blog-slider-wrap .noo-blog-creative .owl-controls .owl-prev:hover:after {
    color: #49C9B1;
}
.noo-blog-slider-wrap .noo-blog-slider .owl-controls .owl-next:hover:after,
.noo-blog-slider-wrap .noo-blog-creative .owl-controls .owl-next:hover:after {
    color: #49C9B1;
}
.noo_countdown h2 {
    color: #49C9B1;
}
.noo_countdown .shop_now:hover {
    background: #49C9B1;
}
.noo-product-header .noo-product-list-cat li a:before {
    background: #49C9B1;
}
.noo-product-header .noo-product-list-cat li a:hover {
    color: #49C9B1;
}
.noo-product-header .noo-product-list-cat li a.active {
    color: #49C9B1;
}
.spinner {
    background-color: #49C9B1;
}
.noo_sh_custom.right .noo-attach:before {
    background: #49C9B1;
}
.noo_shortcode_about .about-left .noo-readmore:before {
    color: #49C9B1;
}
.noo_shortcode_about .about-left .noo-readmore:hover i {
    color: #49C9B1;
}
.noo_purchase a:hover {
    background: #49C9B1;
    border-color: #49C9B1;
}
.noo-sidebar .noo-line {
    background: #49C9B1;
}
.noo-sidebar .widget_product_categories ul li a:before {
    background: #49C9B1;
}
.noo-sidebar .tagcloud a:hover {
    background: #49C9B1;
}
.woocommerce ul.product_list_widget li a:hover {
    color: #49C9B1;
}
.woocommerce ul.product_list_widget li ins {
    color: #49C9B1;
}
.post_list_widget li a:hover .post-title {
    color: #49C9B1;
}
.widget .noo-infomation-attr li:hover .infomation-icon,
.widget .noo-infomation-attr li:hover .infomation-directions {
    color: #49C9B1;
}
.social-all a:hover {
    background: #49C9B1;
}
.widget_nav_menu ul li a:before {
    color: #49C9B1;
}
.widget_nav_menu ul li a:hover {
    color: #49C9B1;
}
.woocommerce div.noo-product-column .product-item-ds .price ins,
.woocommerce div.product .product-item-ds .price ins {
    color: #49C9B1;
}
.woocommerce .product-list .noo-product-column .product-item-ds .price ins {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .entry-summary p.price ins {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .entry-summary form.cart .quantity button:hover {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .entry-summary form.cart .group_table tr .price {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .entry-summary .woocommerce-variation-price span.price {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .woocommerce-tabs ul.tabs li a:before {
    background-color: #49C9B1;
}
.woocommerce .noo-single-product div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .woocommerce-tabs ul.tabs li.active a {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .woocommerce-tabs .entry-content #reviews #comments ol.commentlist li .comment-text .star-rating:before {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .woocommerce-tabs .entry-content #reviews #comments ol.commentlist li .comment-text .star-rating span {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form-author label .required,
.woocommerce .noo-single-product div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .comment-form-email label .required {
    color: #49C9B1;
}
.woocommerce .noo-single-product div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .form-submit input {
    background: #49C9B1;
}
.woocommerce .noo-single-product .related .title-related span {
    background: #49C9B1;
}
.woocommerce .button.wc-backward:hover {
    background: #49C9B1;
    border-color: #49C9B1;
}
.woocommerce-cart table.cart a.remove:hover:before {
    color: #49C9B1;
}
.woocommerce-cart table.cart td .quantity button:hover {
    color: #49C9B1;
}
.woocommerce-cart table.cart .actions .continue:hover,
.woocommerce-cart table.cart .actions .button:hover {
    background: #49C9B1;
    border-color: #49C9B1;
}
.noocart-coupon .noo-apply-coupon:hover {
    background: #49C9B1;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    background: #49C9B1;
}
.woocommerce-cart .cart-collaterals .cart_totals table td[data-title='Total'] {
    color: #49C9B1;
}
.woocommerce-account input.button:hover,
.woocommerce-account input.button:focus {
    background: #49C9B1;
}
.woocommerce-account #customer_login h2:before {
    color: #49C9B1;
}
.woocommerce form.login .button:hover,
.woocommerce form.register .button:hover,
.woocommerce form.login .button:focus,
.woocommerce form.register .button:focus {
    background: #49C9B1;
}
p.myaccount_user a {
    color: #49C9B1;
}
.woocommerce span.onsale {
    background: #49C9B1;
}
.woocommerce span.onsale:before {
    border-top: 10px solid #49C9B1;
}
.quick-view-wrap .quick-content .quick-right .star-rating span {
    color: #49C9B1;
}
.quick-view-wrap .quick-content .quick-right .price {
    color: #49C9B1;
}
.quick-view-wrap .quick-content .quick-right form.cart .quantity button:hover {
    color: #49C9B1;
}
.quick-view-wrap .quick-content .quick-right form.cart .button:hover {
    background: #49C9B1;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover,
a:hover,
a:focus {
    color: #49C9B1;
}
.hentry.sticky:after,
#comments #respond .form-submit input:hover {
    background: #49C9B1;
}
.hentry.sticky {
    border-color: #49C9B1;
}
.noo-main-menu .navbar-nav li>.sub-menu li a:hover,
.off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li a:hover,
header .navbar-brand:hover,
.noo-breadcrumb .noo-container .back-home:hover,
.header_absolute_transparent .navbar-wrapper .navbar-default .navbar-brand:hover,
.header_absolute_transparent .navbar-wrapper .navbar-default .header-meta a:hover,
.header_absolute_transparent .navbar-wrapper .navbar-default .noo-main-menu .navbar-nav>li>a:hover,
.noo-topbar .noo-topmeta-left a:hover,
.noo-topbar .noo-topmeta ul li a:hover,
.noo-main-menu .navbar-nav li>a:hover,
.noo-main-menu .navbar-nav li>a:focus,
.header-meta ul li .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-price ins,
.header-meta ul li .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-title a:hover,
.header-meta ul li .noo-icon-cart:hover span,
.header_absolute_topbar .navbar-wrapper .navbar-default .navbar-brand:hover,
.header_absolute_topbar .navbar-wrapper .navbar-default .header-meta a:hover,
.header_absolute_topbar .navbar-wrapper .navbar-default .noo-main-menu .navbar-nav>li>a:hover,
.quick-view-wrap .quick-content .quick-right .price {
    color: #49C9B1;
}
.page-template-page-product-slider .header-meta ul li>a.noo-icon-cart:hover span,
.noo-main-canvas .sub-menu:before,
.header_services .header-meta ul li .noo-icon-cart:hover span,
.header_classic .header-meta ul li .noo-icon-cart:hover span,
.header-meta ul li .noo-icon-cart span,
.noo-main-menu .navbar-nav li>a:before,
.quick-view-wrap .quick-content .quick-right form.cart .button {
    background-color: #49C9B1;
}
.header-meta ul li .noo-minicart .minicart-footer .minicart-actions .button:hover {
    background-color: #49C9B1;
    border-color: #49C9B1;
}
.noo-blog-slider-wrap .noo-blog-slider .blog-slider-item .entry-meta span a:hover,
.noo-blog-slider-wrap .noo-blog-creative .blog-slider-item .entry-meta span a:hover,
.noo_shortcode_about .about-left .noo-readmore:before,
.noo-blog-slider-wrap .noo-blog-slider .blog-slider-item2 .slider-item2 .noo-readmore:hover,
.noo-blog-slider-wrap .noo-blog-creative .blog-slider-item2 .slider-item2 .noo-readmore:hover,
.noo-blog-slider-wrap .noo-blog-slider .owl-controls .owl-next:hover:after,
.noo-blog-slider-wrap .noo-blog-creative .owl-controls .owl-next:hover:after,
.noo-blog-slider-wrap .noo-blog-slider .owl-controls .owl-prev:hover:after,
.noo-blog-slider-wrap .noo-blog-creative .owl-controls .owl-prev:hover:after,
.noo_countdown h2,
.woocommerce div.noo-product-column .product-item-ds .price ins,
.woocommerce div.product .product-item-ds .price ins,
.noo-product-header .noo-product-list-cat li a:hover,
.noo-product-header .noo-product-list-cat li a.active {
    color: #49C9B1;
}
.contact-form input[type='submit']:hover,
.noo-blog-slider-wrap .noo-blog-slider .blog-slider-item2 .slider-item2 .noo-date:after,
.noo-blog-slider-wrap .noo-blog-creative .blog-slider-item2 .slider-item2 .noo-date:after,
.spinner,
.noo_sh_custom.right .noo-attach:before,
.noo_countdown .shop_now:hover,
.woocommerce span.onsale,
.noo-product-header .noo-product-list-cat li a:before,
.noo-attach:after {
    background-color: #49C9B1;
}
.woocommerce span.onsale:before {
    border-top-color: #49C9B1;
}
.noo_purchase a:hover {
    background-color: #49C9B1;
    border-color: #49C9B1;
}
.widget_nav_menu ul li a:before,
.widget_nav_menu ul li a:hover,
.widget .noo-infomation-attr li:hover .infomation-icon,
.widget .noo-infomation-attr li:hover .infomation-directions {
    color: #49C9B1;
}
.social-all a:hover {
    background-color: #49C9B1;
}
.hentry .entry-footer span a:hover,
.single-meta span a:hover,
.our-blog-item .noo-blog-desc .entry-meta span a:hover,
.our-blog-item .noo-readmore:hover,
.hentry .entry-header .cat-links a,
.hentry .entry-footer .noo-readmore:hover,
.post_list_widget li a:hover .post-title {
    color: #49C9B1;
}
.noo-sidebar .tagcloud a:hover,
.noo-sidebar .noo-line {
    background-color: #49C9B1;
}
.hentry .entry-header .cat-links a:hover {
    color: #c22c13;
}
.quick-view-wrap .quick-content .quick-right form.cart .button:hover,
.woocommerce-checkout #payment .place-order #place_order:hover,
.woocommerce-billing-fields>h3:after,
.woocommerce-shipping-fields>h3:after,
.noocart-coupon .noo-apply-coupon:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce .noo-single-product div.product .woocommerce-tabs .entry-content #reviews #review_form_wrapper .form-submit input,
.woocommerce .noo-single-product .related .title-related span,
.woocommerce .noo-single-product div.product .woocommerce-tabs ul.tabs li a:before,
.noo-sidebar .widget_product_categories ul li a:before {
    background-color: #49C9B1;
}
.woocommerce .noo-single-product div.product .entry-summary form.cart .quantity button:hover,
.quick-view-wrap .quick-content .quick-right form.cart .quantity button:hover,
.woocommerce .product-list .noo-product-column .product-item-ds .price ins,
.woocommerce ul.product_list_widget li a:hover,
.woocommerce-cart table.cart td .quantity button:hover,
.woocommerce-cart table.cart a.remove:hover:before,
.woocommerce-cart .cart-collaterals .cart_totals table td[data-title='Total'],
.woocommerce .noo-single-product div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce .noo-single-product div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce .noo-single-product div.product .entry-summary p.price ins,
.woocommerce ul.product_list_widget li ins {
    color: #49C9B1;
}
.woocommerce .button.wc-backward:hover,
.woocommerce-cart table.cart .actions .continue:hover,
.woocommerce-cart table.cart .actions .button:hover {
    background-color: #49C9B1;
    border-color: #49C9B1;
}
@media (max-width: 991px) {
	.noo-main-canvas .sub-menu:before {
        background: #49C9B1;
    }
	.off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li a:hover {
        color: #49C9B1;
    }
	.off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li a:hover:after {
        color: #49C9B1;
    }
}